<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon dashboard</title>
    <link rel="icon" type="image/png" href="./../../images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../styles/dashboard/dashboard.css">
</head>
<body>

    <div class="dashboard"></div>

    <script src="./../../services/pokemon.service.js"></script>
    <script src="./dashboard.js"></script>
</body>
</html>