body {
    background-image: url('./../../images/landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    width: 220px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgreen;
    text-align: center;
    font-family: 'Zen Dots', cursive;
    margin-top:5px;
}

a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#details-header{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-family: 'Zen Dots', cursive;
}

#details-container {
    font-family: 'Zen Dots', cursive;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 310px;
    height: auto;
    align-items: center;
    margin-top: 20px;
    background-color: lightgreen;
    img {
        width: 170px;
        height: 170px;
    }
}